<div layout="vertical" layout-fill>

  <md-content style="width: 80%;margin: auto;">
    <header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header>

    <div class="flex-block">
      <div class="list-block">
        <div class="caption">Плейлист</div>
        <div class="table-block">
          <div class="header row">
            <div class="cell" ng-click="main.setFilter('singers')">Исполнитель</div>
            <div class="cell" ng-click="main.setFilter('single')">Песня</div>
            <div class="cell" ng-click="main.setFilter('genre')">Жанр</div>
            <div class="cell" ng-click="main.setFilter('year')">Год</div>
          </div>
          <div class="row" ng-repeat="item in main.data | filter :main.search | orderBy:main.filter">
            <div class="cell">{{item.singers}}</div>
            <div class="cell">{{item.single}}</div>
            <div class="cell">{{item.genre}}</div>
            <div class="cell">{{item.year}}</div>
          </div>
        </div>
        <div class="footer">
          <pagination-directive count="main.custom.itemsCount" take="main.custom.take" activate="main.custom.activatePage"></pagination-directive>
          <div class="taker">
            <div class="take" ng-repeat="item in ['10','25','50','100']" ng-click="main.custom.take = item" ng-class="{'active':main.custom.take==item }">{{item}}</div>
          </div>
        </div>
      </div>
      <div class="menu-block">
        <div class="caption">Плейлист</div>

        <div class="filter-block">

          <div class="title">Испольнитель</div>
          <select ng-model="main.search.singers">
            <option value="">Все</option>
            <option value="{{item.value}}" ng-repeat="item in main.singers">{{item.display}}</option>
          </select>

          <div class="title">Жанр</div>
          <select ng-model="main.search.genre">
            <option value="">Все</option>
            <option value="{{item.value}}" ng-repeat="item in main.genres">{{item.display}}</option>
          </select>

          <div class="title">Год</div>
          <select ng-model="main.search.year">
            <option value="">Все</option>
            <option value="{{item.value}}" ng-repeat="item in main.years">{{item.display}}</option>
          </select>
        </div>
      </div>
    </div>

  </md-content>



</div>
